<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- <bean/> definitions here -->




	<bean id="emp" class="com.spring.Employee" >
		<property name="id" value="101" />


		<property name="name" value="Rama" />

		<property name="salary" value="10000" />

	</bean>
	<bean id="customer" class="com.spring.Customer" >
		<property name="cid" value="201" />


		<property name="cname" value="Subba" />
 

	</bean>
	
	<bean class="com.spring.MyInitialializingBean"></bean>
	
	<bean class="com.spring.MyDisposableBean"></bean>







</beans>